<p-toast></p-toast>

<div class="card">
  <div class="modelHeader d-flex flex-row py-2 px-3 font-w-600 font-size-19 align-items-center border-b bg-color-ContHead">
    Service Call Frequency
  </div>

  <p-table
    [value]="customerTrackList"
    [paginator]="true"
    [rows]="10"
    class="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Last Call Date</th>
        <th>Called Before Days</th>
        <th>Owner</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.cname }}</td>
        <td>{{ row.lastcall }}</td>
        <td>{{ row.difdays }}</td>
        <td>{{ row.name }}</td>
        <td>
          <span class="py-2 px-3 bg-color-yellow color-white-fix rounded">&nbsp;</span>
        </td>
        <td class="text-center">
          <button
            pButton
            label="Details"
            icon="pi pi-eye"
            class="p-button-sm"
            (click)="openCustomerHistory(row)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- customer service history dialog -->
<p-dialog
  header="Customer Service Track Details"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '80vw' }"
  (onHide)="closeDialog()"
>
  <app-custservicetrack-history></app-custservicetrack-history>
</p-dialog>
