<!-- unassigned contact details - start -->
<section class="mb-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 font-size-19 align-items-center border-b rounded">
                    <div>Connecter Contact List</div>
                </div>
                <div class="bg-color-ContBody1 px-3 py-3 rounded">
                    <div class="tableContainer rounded mBorder overflow-x-auto">
                        <table class="table font-w-600 color-initial mb-0">
                          <th colspan="12" class="color-gray min-w-200 S-R">Search  : <input type="text" [(ngModel)]="SearchText" (change)="getConnectorContactList()" class="rounded px-1 py-1 color-initial border-header bg-color-input boxShadow s-r" /></th> 
                            <tr class="bg-color-ContHead" >
                               <!-- <th ng-repeat="(key, val) in myArray[0]">{{ key }}</th> -->
                                <th class="color-gray min-w-200">Name<br /></th>
                                <th class="color-gray min-w-100">Mobile Number<br /></th>
                                <th class="color-gray min-w-200">Email Id<br /></th>
                                <th class="color-gray min-w-150">Location<br /></th> 
                                 <th class="color-gray min-w-150">Action</th>
                            </tr>
                           
                            <tr *ngFor="let c of contactList">
                              <td>
                                 {{c.FirstName}}
                              </td>
                              <td>
                                {{c.MobileNumber}}
                              </td>
                              <td>
                                {{c.EmailId}}
                              </td>
                              <td>
                                <select class="px-1 py-1 rounded mBorder w-100 bg-color-input color-initial border-header" id="{{c.Id}}" placeholder="Enter Location" name="location" #newHero required >
                                  <option *ngFor="let item of LocationList;" value={{item.Id}}>{{item.Location}}</option>
                                </select>
                              </td>
                              <td class="t-c">
                                  <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix" (click)="updateConnectorContact(c.Id,newHero.value)">Update</button>
                              </td>
                          </tr>      
                        </table>
                    </div>
                    <div class="paginationContainer d-flex justify-content-between flex-wrap mt-4 mb-2 font-w-600">
                        <div class="align-self-center font-size-14 mb-3 mb-sm-0 text-center">Showing {{StartNo}} to {{EndNo}} of {{TotalRecordNo}} Records</div>
                        <div class="paginationBtnContainer text-center">
                            <button class="border-header mr-2 bg-color-input color-initial rounded"  [hidden]="IsbtnPreviousEnable==false" (click)="GoToPreviousPage()"><i class="fas fa-chevron-left"></i></button>
                            <!--<button class="border-header mr-2 bg-color-logo color-white-fix rounded font-w-600">1</button>-->
                            <input type="text" [(ngModel)]="ManualPageInput" class="rounded mr-2 px-2 py-1 color-initial border-header bg-color-input boxShadow align-top text-center"  (change)="ChangePageNumber(this.ManualPageInput)" />
                            <span class="mr-2 color-initial font-w-600 font-size-14">{{ManualPageInput}} of {{TotalNumberOfPages}} pages</span>
                            <button class="border-header bg-color-input color-initial rounded" [hidden]="IsbtnNextEnable==false" (click)="GoToNextPage()"><i class="fas fa-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- unassigned contact details - end -->
  