<p-toast></p-toast>
<div class="container">
  <div class="flex flex-column gap-3 p-3">
    <div class="bg-color-ContHead flex align-items-center py-2 px-3 font-w-600 border-b rounded">
      <div class="text-xl">QR Code Generation</div>
    </div>

    <form [formGroup]="qrForm" (ngSubmit)="onSubmit()" class="p-3 bg-color-ContBody1 font-w-600 flex flex-column gap-4">
      <div class="grid">
        <div class="col-12 md:col-6">
          <p-floatLabel>
            <p-dropdown
              [options]="custList"
              optionLabel="Name"
              optionValue="Id"
              placeholder="Select Shop"
              formControlName="CustomerId"
            ></p-dropdown>
            <label>QR Code For*</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText formControlName="OfferCode" />
            <label>Offer Code</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <p-calendar
              formControlName="ValidFrom"
              showIcon="true"
              dateFormat="yy-mm-dd"
              [showButtonBar]="true"
            ></p-calendar>
            <label>Valid From</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <p-calendar
              formControlName="ValidTo"
              showIcon="true"
              dateFormat="yy-mm-dd"
              [showButtonBar]="true"
            ></p-calendar>
            <label>Valid Upto</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText formControlName="QRcodefile" />
            <label>QR Code Name*</label>
          </p-floatLabel>
          <p-message
            severity="error"
            *ngIf="qrForm.controls['QRcodefile'].invalid && qrForm.controls['QRcodefile'].touched"
            text="QR Code Name is required"
          ></p-message>
        </div>
      </div>

      <div class="flex justify-content-end mt-2">
        <button pButton type="submit" label="Generate" [disabled]="qrForm.invalid"></button>
      </div>
    </form>
  </div>
</div>
