<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
                <div class="font-size-19">Customer Overall List</div>
            </div>
            <div class="bg-color-ContBody1 px-3 py-3 rounded">

                <div class="tableContainer rounded mBorder overflow-x-auto">
                <table class="table font-w-600 color-initial mb-0">
                    <th colspan="7" class="color-gray min-w-200 S-R">Search  : <input type="text" class="rounded px-1 py-1 color-initial border-header bg-color-input boxShadow s-r" [(ngModel)]="searchStr" /></th> 
                        <tr class="bg-color-ContHead">
                            <th class="color-gray min-w-150" >Name<br /></th>
                            <th class="color-gray min-w-150" >Total Customers<br /></th>
                       
                         
                       
                            <th class="color-gray min-w-150" >&nbsp;<br /></th>

                    
                        </tr>
                        <tr *ngFor="let objCustList of CustList | searchpipe : searchStr; let i = index">
                        <td>
                            {{objCustList.Name}}
                        </td>
                        <td>
                            {{objCustList.Customers}}
                        </td>
                        <td ><button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="OpenEmpTrack(objCustList.Id,objCustList.Name)">Details</button></td>
                            
                       
                        <!--
                            <div *ngIf="(this.objCustList.newstatus == '4') ;then Approved "> </div> 
                            <ng-template #Approved>
                            <td ><h6><span>Approved - Lead</span></h6></td>
                            </ng-template> 
                            <div *ngIf="(this.objCustList.newstatus != '4') ;then Other "> </div> 
                            <ng-template #Other>
                            <td ><button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="OpenCustomerTrack(objCustList.Id, objCustList.tracknumber)">Track</button></td>
                            </ng-template>  
                          -->
                    </tr>
                </table>
                </div>        
            </div>        
        </div>
    </div>
    <!--<app-connector-form-model></app-connector-form-model>
    <app-customertrack></app-customertrack>-->
</div>
