<p-toast></p-toast>

<div class="card">
  <div
    class="bg-color-ContHead d-flex justify-between p-2 px-3 font-w-600 border-b rounded"
  >
    Customer Overall List
  </div>

  <div class="bg-color-ContBody1 p-3 rounded">
    <div class="mb-3">
      <input
        pInputText
        placeholder="Search..."
        [(ngModel)]="searchStr"
        class="w-full sm:w-30rem"
      />
    </div>

    <p-table
      [value]="custList | searchpipe : searchStr"
      [paginator]="true"
      [rows]="10"
      class="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Total Customers</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cust>
        <tr>
          <td>{{ cust.Name }}</td>
          <td>{{ cust.Customers }}</td>
          <td>
            <button
              pButton
              label="Details"
              icon="pi pi-arrow-right"
              class="p-button-sm"
              (click)="openEmpTrack(cust.Id, cust.Name)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
