
<form #leadFollowUpForm="ngForm">
    <!-- <div> <input type="submit" value="Refresh" class="leadInputSubmit bg-color-logo color-white border-0 rounded px-4 py-2 font-w-600" (click)="GetLeadTrack(model.TrackId)"></div> -->
    <div class="leadInputCategory leadFollDetailIpCont rounded py-2 px-3 bg-color-ContBody1 font-w-600">
      <div class="leadIpFlexCont d-flex flex-wrap pt-3">
        <div class="leadIpFitem mb-3">
          <label class="mb-1">Appoinment Date*</label>

        <label class="mb-1">Appointment Date</label>
<p-calendar
  [(ngModel)]="model.AppoinmentDate"
  [minDate]="currentDateTime"
  [showTime]="true"
  [hourFormat]="'24'"
  [showIcon]="true"
  inputStyleClass="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control"
  name="appoinmentDate">
</p-calendar>

        </div>

        <div class="leadIpFitem mb-3">
            <label class="mb-1">Notes*</label>
            <input type="text" class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" [(ngModel)]="model.Notes" required name="notes" #notes="ngModel">

          </div>
        <div class="leadIpFitem mb-3">
            <label class="mb-1">Status*</label>
            <select  class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control form-control"  #statusTemVar="ngModel" [(ngModel)]="model.Status" name="status" >
                <option *ngFor="let item of StatusCode;" value={{item.Id}}>{{item.Status}}</option>
            </select>

        </div>
      </div>
      <div class="mBorder rounded py-2 px-3 mb-3">
        <div ><i class="fas fa-info-circle pr-2"></i>Basic Details</div>
              <div class="leadIpFlexCont pt-3 d-flex flex-wrap">
                <div class="leadIpFitem mb-3">
                  <label class="mb-1">Loan Type</label>
                  <input type="hidden" class="px-2 py-1 rounded-left mBorder bg-color-input color-initial border-header w-75 form-control" name="Id" [(ngModel)]="model.Id">

                  <select class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" [(ngModel)]="model.LoanType" name="loanType" #loanTypeTem= "ngModel" [disabled]="statusTemVar.value == 'Document Collection' || statusTemVar.value == 'File Login' || statusTemVar.value == 'Sanction' || statusTemVar.value == 'Disbursement'">
                      <option>Personal Loan</option>
                      <option>Business Loan</option>
                      <option>Auto Loan-New</option>
                      <option>Auto Loan-Used</option>
                      <option>Jewel Loan</option>
                      <option>LAP</option>
                      <option>Home Loan-Self Construction</option>
                      <option>Home Loan-Resale</option>
                      <option>Home Loan-Builder Purchase</option>
                      <option>Land Loan</option>
                      <option>Land Loan+Construction</option>
                      <option>NRP</option>
                      <option>Commercial Vehicle Loan-New</option>
                      <option>Personal Loan Bank Transfer</option>
                      <option>Home Loan Bank Transfer</option>
                      <option>LAP Bank Transfer</option>
                      <option>Personal Loan Bank Transfer + Topup</option>
                      <option>Home Loan Bank Transfer + Topup</option>
                      <option>LAP Bank Transfer + Topup</option>
                  </select>
                </div>

                <div class="leadIpFitem mb-3">
                    <label class="mb-1">Desire Loan Amount</label>
                    <div class="inputMoneyDiv position-relative">
                        <input type="text" placeholder="Desire Loan Amount" class="pl-4 pr-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" [(ngModel)]="model.DesireLoanAmount" name="desireLoanAmount">
                        <i class="fas fa-rupee-sign position-absolute"></i>
                    </div>
                </div>
                <div class="leadIpFitem mb-3">
                    <label class="mb-1">Tenure (years)</label>
                    <input type="text" placeholder="Tenure" class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" [(ngModel)]="model.Tenure" name="tenure">
                </div>
                <div class="leadIpFitem mb-3">
                  <label class="mb-1">Preferred Bank</label>
                  <!-- <input type="text" class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" name="preferedBank" [(ngModel)]="model.PreferedBank"> -->
                  <select class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" name="preferedBank" [(ngModel)]="model.PreferedBank">
                    <option *ngFor="let item of BankList;" value={{item.BankName}}>{{item.BankName}}</option>
                  </select>
                </div>
                <div class="leadIpFitem mb-3">
                  <label class="mb-1">Cibil Score</label>
                  <div class="input-group w-100">
                      <input type="text" class="px-2 py-1 rounded-left mBorder bg-color-input color-initial border-header w-75 form-control" name="cibilScore" [(ngModel)]="model.Cibilscore">
                      <div class="input-group-append w-25">
                      <!-- <button class="btn btn-success w-100 border-header font-w-600" type="submit" [disabled]="statusTemVar.value == 'Document Collection' || statusTemVar.value == 'File Login' || statusTemVar.value == 'Sanction' || statusTemVar.value == 'Disbursement'">Check</button> -->
                      </div>
                  </div>
                </div>
                <div class="leadIpFitem mb-3">
                  <label class="mb-1">OccupationType</label>
                  <select  placeholder="Occupation" class="px-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" [(ngModel)]="model.OccupationType" #occupation="ngModel" name="occupationtype" readonly >
                    <option>Salaried</option>
                    <option>Self Employed</option>
                  </select>
                </div>

                <div class="leadIpFitem mb-3">
                  <label class="mb-1">IncomeType</label>
                  <div class="input-group w-100">
                    <select  placeholder="IncomeType" class="px-2 py-1 rounded-left mBorder bg-color-input color-initial border-header w-75 form-control" name="incomeType" [(ngModel)]="model.IncomeType" readonly>
                      <option>Cash</option>
                      <option>Bank</option>
                      <option>Cheque</option>
                    </select>
                  </div>
               </div>

               <div class="leadIpFitem mb-3">
                 <label class="mb-1">Income Amount</label>
                  <div class="inputMoneyDiv position-relative">
                    <input type="text" placeholder="Desire Loan Amount" class="pl-4 pr-2 py-1 rounded mBorder w-100 bg-color-input color-initial border-header form-control" [(ngModel)]="model.IncomeAmount" name="incomeAmount" >
                    <i class="fas fa-rupee-sign position-absolute"></i>
                 </div>
               </div>

              </div>
            </div>




        <div class="text-right">
            <input type="submit" value="Save" (click)="SaveCustomerTrack(false)" class="leadInputSubmit bg-color-logo color-white border-0 rounded px-4 py-2 font-w-600">
            &nbsp;&nbsp;
            <input type="submit" value="Save&Close" (click)="SaveCustomerTrack(true)" class="leadInputSubmit bg-color-logo color-white border-0 rounded px-4 py-2 font-w-600">
        </div>
    </div>
  </form>

