<p-toast></p-toast>


  <form [formGroup]="serviceForm" (ngSubmit)="saveHistory()">
    <div class="grid grid-cols-1 gap-3">
      <div class="field">
        <label for="nextcall">Next Call Date</label>
        <p-calendar
          formControlName="nextcall"
          [minDate]="currentDateTime"
          [showTime]="true"
          [showIcon]="true"
          class="w-full"
        ></p-calendar>
        <small
          class="text-red-600"
          *ngIf="serviceForm.get('nextcall')?.invalid && serviceForm.get('nextcall')?.touched"
          >Next call date is required</small
        >
      </div>

      <div class="field">
        <label for="callattend">Whether Call Attended*</label>
        <p-dropdown
          formControlName="callattend"
          [options]="[{ label: 'Yes', value: 1 }, { label: 'No', value: 0 }]"
          placeholder="Select"
          class="w-full"
        ></p-dropdown>
        <small
          class="text-red-600"
          *ngIf="serviceForm.get('callattend')?.invalid && serviceForm.get('callattend')?.touched"
          >Required</small
        >
      </div>

      <div class="field">
        <label for="remarks">Remarks*</label>
        <input
          pInputText
          formControlName="remarks"
          class="w-full"
          placeholder="Enter remarks"
        />
        <small
          class="text-red-600"
          *ngIf="serviceForm.get('remarks')?.invalid && serviceForm.get('remarks')?.touched"
          >Remarks required</small
        >
      </div>

      <div class="flex justify-end gap-2 mt-4">
        <button
          pButton
          label="Save"
          icon="pi pi-check"
          class="p-button-success"
          type="submit"
          [disabled]="serviceForm.invalid"
        ></button>
        <button
          pButton
          label="Cancel"
          icon="pi pi-times"
          class="p-button-secondary"
          type="button"
          (click)="closeDialog()"
        ></button>
      </div>
    </div>
  </form>
