<div *ngIf="loadSpin" class="flex justify-content-center mt-4">
  <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</div>

<div class="mt-3" *ngIf="!loadSpin">
 <div class="mb-3 flex justify-content-end">
  <input
    type="text"
    pInputText
    placeholder="Search..."
    [(ngModel)]="globalFilter"
    (input)="dt.filterGlobal($event.target?.['value'], 'contains')"
    class="w-full sm:w-25rem"
  />
</div>

  <p-table
  #dt
  [value]="ReviewList"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20]"
  [resizableColumns]="true"
  [scrollable]="true"
  scrollHeight="500px"
  [responsiveLayout]="'scroll'"
  [globalFilterFields]="['TrackNumber', 'Name', 'MobileNumber', 'Location', 'Status']"
  class="p-datatable-sm"
>
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn pSortableColumn>Track Number</th>
        <th pResizableColumn pSortableColumn>Name</th>
        <th pResizableColumn pSortableColumn>Mobile Number</th>
        <th pResizableColumn pSortableColumn>Appointment Date</th>
        <th pResizableColumn pSortableColumn>Location</th>
        <th pResizableColumn pSortableColumn>Status</th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-review>
      <tr>
        <td>{{ review.TrackNumber }}</td>
        <td>{{ review.Name }}</td>
        <td>{{ review.MobileNumber }}</td>
        <td>{{ review.AppointmentDate | date: 'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ review.Location }}</td>
        <td>
          <span class="px-2 py-1 bg-yellow-500 text-white border-round text-sm text-capitalize">
            {{ review.Status | lowercase }}
          </span>
        </td>
        <td class="text-center">
          <p-button
            label="Update"
            icon="pi pi-pencil"
            size="small"
            class="p-button-sm"
            (onClick)="callStatus(review.Id, review.TrackNumber)"
            *ngIf="review.Status !== 'reject'"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
