<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
                <div class="font-size-19">Customer List</div>
            </div>
            <div class="bg-color-ContBody1 px-3 py-3 rounded">

                <div class="tableContainer rounded mBorder overflow-x-auto">
                <table class="table font-w-600 color-initial mb-0">
                    <th colspan="7" class="color-gray min-w-200 S-R">Search  : <input type="text" class="rounded px-1 py-1 color-initial border-header bg-color-input boxShadow s-r" [(ngModel)]="searchStr" /></th>
                        <tr class="bg-color-ContHead">
                            <th class="color-gray min-w-150" >Name<br /></th>
                            <th class="color-gray min-w-150" >Mobile Number<br /></th>
                            <th class="color-gray min-w-150" >Product<br /></th>
                            <th class="color-gray min-w-150" >Location<br /></th>
                            <th class="color-gray" style="width:90px;">Date<br /></th>
                            <th class="color-gray min-w-150" >Bank<br /></th>
                            <th class="color-gray" style="width:70px;" >ROI<br /></th>
                            <th class="color-gray min-w-150" >Loan Amount<br /></th>
                            <th class="color-gray min-w-150" >Converter<br /></th>
                            <th class="color-gray min-w-150" >&nbsp;<br /></th>
                            <th class="color-gray min-w-150" >Assign To<br /></th>

                        </tr>
                        <tr *ngFor="let objCustList of CustList | searchpipe : searchStr; let i = index">
                        <td>
                            {{objCustList.name}}
                        </td>
                        <td>
                            {{objCustList.mobilenumber}}
                        </td>
                        <td>
                            {{objCustList.product}}
                        </td>
                        <td>
                            {{objCustList.location}}
                        </td>
                        <td>
                            {{objCustList.loandate}}
                        </td>
                        <td>
                            {{objCustList.bank}}
                        </td>
                        <td style="text-align: right;">
                            {{objCustList.roi}}
                        </td>
                        <td style="text-align: right;">
                            {{objCustList.amount}}
                        </td>
                        <td style="text-align: right;">
                            {{objCustList.Converter}}
                        </td>
                        <td>
                            <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="OpenCustomerModel(objCustList.Id)">Update</button>

                        </td>

                        <div *ngIf="(this.CustList.followedby == 0) ;then NAssto; else Assto"> </div>
                        <ng-template #Assto>
                        <td > Customer Assigned.</td>
                        </ng-template>
                        <ng-template #NAssto>
                        <td>

                            <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="AssignedTo(objCustList.Id)">Assign to me</button>

                        </td>
                    </ng-template>


                    </tr>
                </table>
                </div>
            </div>
        </div>
    </div>
    <!--<app-connector-form-model></app-connector-form-model>-->
</div>

<section>
    <div class="myModel callHistoryModel  position-fixed model-bg-color justify-content-center align-items-center w-100 h-100 model-bg-color z-index-3 overflow-auto">
        <div class="modelContent bg-color-white boxShadow rounded">
          <div class="d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 font-size-19 align-items-center border-b bg-color-ContHead rounded">
              <div></div>
              <div (click)="CloseCustomerModel()">
                  <i class="fas fa-times cursor-pointer"></i>
              </div>
          </div>
          <app-customerext></app-customerext>
        </div>
      </div>

    </section>




