<p-toast></p-toast>

<div class="card">
  <div class="bg-color-ContHead d-flex justify-between p-3 align-items-center font-w-600 border-b rounded mb-3">
    <div class="font-size-19">Customer List</div>
  </div>

  <div class="mb-3 flex flex-wrap gap-2">
    <input
      pInputText
      placeholder="Search by keyword"
      [formControl]="searchStr"
      class="w-full sm:w-30rem"
    />
  </div>

  <p-table
    [value]="customers"
    [paginator]="true"
    [rows]="10"
    [globalFilterFields]="['name', 'mobilenumber', 'product', 'location']"
    [globalFilterFields]="searchForm.get('searchStr')?.value"
    class="p-datatable-sm"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Mobile</th>
        <th>Product</th>
        <th>Location</th>
        <th>Date</th>
        <th>Bank</th>
        <th class="text-right">ROI</th>
        <th class="text-right">Loan Amount</th>
        <th>Converter</th>
        <th>Action</th>
        <th>Assign</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.mobilenumber }}</td>
        <td>{{ customer.product }}</td>
        <td>{{ customer.location }}</td>
        <td>{{ customer.loandate }}</td>
        <td>{{ customer.bank }}</td>
        <td class="text-right">{{ customer.roi }}</td>
        <td class="text-right">{{ customer.amount }}</td>
        <td>{{ customer.Converter }}</td>
        <td>
          <button
            pButton
            label="Update"
            icon="pi pi-pencil"
            class="p-button-sm"
            (click)="openCustomerModal(customer)"
          ></button>
        </td>
        <td>
          <ng-container *ngIf="customer.followedby === 0; else assignedBlock">
            <button
              pButton
              label="Assign to Me"
              icon="pi pi-user-plus"
              class="p-button-sm p-button-success"
              (click)="assignToMe(customer)"
            ></button>
          </ng-container>
          <ng-template #assignedBlock>
            <span class="text-green-600">Assigned</span>
          </ng-template>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  header="Customer Details"
  [(visible)]="displayDialog"
  [modal]="true"
  [style]="{ width: '60vw' }"
>
  <app-customerext></app-customerext>
</p-dialog>
