<p-toast></p-toast>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="bg-color-ContHead d-flex justify-content-between align-items-center py-2 px-3 font-w-600 border-b rounded">
        <div class="font-size-19">Daily Summary - Report</div>
      </div>
      <div class="p-3">
        <div class="flex flex-wrap gap-3">
          <div class="flex flex-column gap-2">
            <label>Date</label>
            <p-calendar
              [formControl]="fcfrdt"
              [showIcon]="true"
              placeholder="Select Date"
              inputId="datepicker"
              dateFormat="dd/mm/yy"
              inputClass="px-1 py-1 rounded mBorder w-full bg-color-input color-initial border-header"
            ></p-calendar>
          </div>
          <div class="flex flex-column gap-2">
            <label>&nbsp;</label>
            <button
              pButton
              label="Report"
              icon="pi pi-chart-bar"
              (click)="getSReport()"
              class="bg-color-logo color-white-fix"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-color-ContBody1 p-3 rounded mt-4">
  <p-table
    [value]="model"
    class="font-w-600"
    [paginator]="false"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between align-items-center">
        <span>Date: {{ selDt }}</span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>TotalLead</th>
        <th>TotalCall</th>
        <th>AttendCall</th>
        <th>RejectCall</th>
        <th>No Response</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr>
        <td>{{ row.Name }}</td>
        <td>{{ row.TotalLeadDayCount }}</td>
        <td>{{ row.TotalCallDayCount }}</td>
        <td>{{ row.AttendCallDayCount }}</td>
        <td>{{ row.RejectCallDayCount }}</td>
        <td>{{ row.PendingCallDayCount }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<div [style]="dvdisp" class="mt-4">
  <h3 class="text-center text-primary">Summary Report</h3>
  <canvas id="pie-chart"></canvas>
</div>
