<p-toast></p-toast>

<div class="card p-4">
  <h2 class="mb-4 text-2xl font-bold">Unassigned Leads</h2>

  <div class="flex justify-content-between mb-3">
    <div class="w-full md:w-30rem">
      <div [formGroup]="form">
  <p-floatLabel>
    <input
      pInputText
      id="SearchText"
      formControlName="SearchText"
      placeholder="Search"
      (keyup.enter)="getUnassignedLeadList()"
    />
    <label for="SearchText">Search</label>
  </p-floatLabel>
</div>
    </div>
    <div>
      <button
        pButton
        type="button"
        icon="pi pi-search"
        label="Search"
        (click)="getUnassignedLeadList()"
        class="p-button-primary"
      ></button>
    </div>
  </div>

  <p-table
   [value]="model.UnassignedLeadList ?? []"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="TotalRecordNo"
    [loading]="loaderService.showLoader"
    [rowsPerPageOptions]="[10,20,50]"
    [lazy]="true"
    (onLazyLoad)="lazyLoad($event)"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Track Number</th>
        <th>Location</th>
        <th>Occupation</th>
        <th>Income Amount</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lead>
      <tr>
        <td>
          {{ lead.TrackNumber }}
          <br *ngIf="lead.ReferenceName">
          <span *ngIf="lead.ReferenceName" class="font-italic">Refer By: {{ lead.ReferenceName }}</span>
        </td>
        <td>{{ lead.MobileNumber }}</td>
        <td>{{ lead.Name }}</td>
        <td>{{ lead.Location }}</td>
        <td>{{ lead.Occupation }}</td>
        <td>{{ lead.IncomeAmount }}</td>
        <td>
          <button
            pButton
            icon="pi pi-user-plus"
            class="p-button-sm p-button-success"
            label="Assign to Me"
            (click)="AssignEmployee(lead.Id,lead.Name)"
            [disabled]="loaderService.showLoader"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
