 <p-toast></p-toast>
    <div class="card p-4">
      <form [formGroup]="reportForm" (ngSubmit)="getSReport()" class="flex flex-column gap-4">
  <div class="flex flex-column md:flex-row align-items-center gap-3">
    <p-floatLabel class="w-full md:w-20rem">
      <p-calendar formControlName="date" showIcon dateFormat="dd/mm/yy" inputId="date"></p-calendar>
      <label for="date">Date</label>
    </p-floatLabel>
    <button pButton type="submit" label="Generate Report" class="mt-2 md:mt-0"></button>
  </div>
</form>


      <p-table [value]="model" *ngIf="model.length" class="mt-4">
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>Total Lead</th>
            <th>Total Call</th>
            <th>Attend Call</th>
            <th>Reject Call</th>
            <th>No Response</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{row.Name}}</td>
            <td>{{row.TotalLeadDayCount}}</td>
            <td>{{row.TotalCallDayCount}}</td>
            <td>{{row.AttendCallDayCount}}</td>
            <td>{{row.RejectCallDayCount}}</td>
            <td>{{row.PendingCallDayCount}}</td>
          </tr>
        </ng-template>
      </p-table>

      <div *ngIf="displayChart" class="mt-4">
        <h3>Summary Report</h3>
        <canvas id="line-chart"></canvas>
      </div>
    </div>
