<p-toast></p-toast>

<div class="flex flex-column gap-3 p-3">
  <span class="rounded border-0 py-1 px-3 font-w-600 color-white bg-color-pink">
    Lead Creator: {{ leadcrname }}
  </span>

  <div class="bg-color-ContBody1 p-3 rounded">
    <p-table
      [value]="LeadTrackList"
      [paginator]="true"
      [rows]="rows"
      [first]="first"
      [rowsPerPageOptions]="[5,10,20]"
      (onPage)="onPageChange($event)"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            CallOn
            <p-floatLabel>
              <input
                pInputText
                [(ngModel)]="searchCallOn"
                placeholder=""
                class="w-full"
              />
              <label>Filter</label>
            </p-floatLabel>
          </th>
          <th>
            Appointment Date
            <p-floatLabel>
              <input
                pInputText
                [(ngModel)]="searchAppointmentDate"
                placeholder=""
                class="w-full"
              />
              <label>Filter</label>
            </p-floatLabel>
          </th>
          <th>
            Notes
            <p-floatLabel>
              <input
                pInputText
                [(ngModel)]="searchNotes"
                placeholder=""
                class="w-full"
              />
              <label>Filter</label>
            </p-floatLabel>
          </th>
          <th>
            Status
            <p-floatLabel>
              <input
                pInputText
                [(ngModel)]="searchStatus"
                placeholder=""
                class="w-full"
              />
              <label>Filter</label>
            </p-floatLabel>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.CallOn | date: 'dd-MM-yyyy HH:mm' }}</td>
          <td>{{ row.AppointmentDate | date: 'dd-MM-yyyy HH:mm' }}</td>
          <td>{{ row.Notes }}</td>
          <td>
            <span class="py-2 px-3 bg-color-yellow color-white-fix rounded">
              {{ row.Status | lowercase }}
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
