<p-toast></p-toast>

<div class="card">
  <div class="bg-color-ContHead d-flex justify-between p-2 px-3 font-w-600 align-items-center border-b rounded">
    Reassign Other Records
  </div>

  <div class="bg-color-ContBody1 p-3 rounded">
    <form [formGroup]="form">
      <div class="flex flex-wrap gap-3 mb-3">


        <div class="w-full sm:w-20rem">
          <label class="block mb-1">Contact Owned By</label>
          <p-dropdown
            [options]="ownEmpList"
            optionLabel="EmpName"
            optionValue="Id"
            placeholder="Select Owned By"
            formControlName="ownedBy"
            [showClear]="true"
            [filter]="true"
            filterPlaceholder="Search employee"
            class="w-full"
            [virtualScroll]="true"
          >
            <ng-template let-item pTemplate="item">
              {{ item.EmpName }} ({{ item.Nos }})
            </ng-template>
          </p-dropdown>
        </div>

        <div class="w-full sm:w-20rem">
          <label class="block mb-1">Reassign To</label>
          <p-dropdown
            [options]="empList"
            optionLabel="EmpName"
            optionValue="Id"
            placeholder="Select Reassign To"
            formControlName="reassignto"
            [showClear]="true"
            [filter]="true"
            filterPlaceholder="Search employee"
            class="w-full"
            [virtualScroll]="true"
          ></p-dropdown>
        </div>

        <button pButton label="Get Data" (click)="getOtherReassignList()" type="button"></button>
        <button pButton label="Reassign" (click)="reassign()" type="button"></button>
      </div>
      <input
          pInputText
          placeholder="Search..."
          [(ngModel)]="searchStr"
          class="w-full sm:w-30rem"
        />
    </form>

    <p-table
      [value]="statusList | searchpipe : searchStr"
      [paginator]="true"
      [rows]="10"
      class="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>
            <p-checkbox
              [binary]="true"
              [ngModel]="isAllSelected()"
              (onChange)="toggleAll($event)"
            ></p-checkbox>
          </th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Followed By</th>
          <th>Status</th>
          <th>Track No</th>
          <th>Modified On</th>
          <th>View</th>
          <th>Track</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>
            <p-checkbox
              [binary]="true"
              [(ngModel)]="row.checkstatus"
              (onChange)="toggleItem(row.id)"
            ></p-checkbox>
          </td>
          <td>{{ row.firstname }}</td>
          <td>{{ row.mobilenumber }}</td>
          <td>{{ row.contactfollowedby }}</td>
          <td>{{ row.status }}</td>
          <td>{{ row.tracknumber }}</td>
          <td>{{ row.modifiedon }}</td>
          <td>
            <button
              pButton
              icon="pi pi-eye"
              class="p-button-sm"
              (click)="openTrackHistory(row.tracknumber)"
            ></button>
          </td>
          <td>
            <button
              pButton
              icon="pi pi-search"
              class="p-button-sm"
              (click)="callStatus(row.tracknumber, row.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  header="Track History"
  [(visible)]="displayTrackDialog"
  [modal]="true"
  [style]="{ width: '80vw' }"
  (onHide)="closeTrackDialog()"
>
  <app-call-track-history></app-call-track-history>
</p-dialog>

<p-dialog
  header="Lead Details"
  [(visible)]="displayLeadDialog"
  [modal]="true"
  [style]="{ width: '80vw' }"
  (onHide)="closeLeadDialog()"
>
  <app-lead-form-model></app-lead-form-model>
</p-dialog>
