<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
                <div class="font-size-19">Reassign Other Records </div>
            </div>
            <div class="bg-color-ContBody1 px-3 py-3 rounded">

                <div class="tableContainer rounded mBorder overflow-x-auto">
                <table class="table font-w-600 color-initial mb-0">
                    <th colspan="2" class="color-gray min-w-200 S-R">Search  : <input type="text" class="rounded px-1 py-1 color-initial border-header bg-color-input boxShadow s-r" [(ngModel)]="searchStr" /></th> 
                    <th colspan="2" class="color-white-fix min-w-200 S-R">
                        <label class="mb-1">Contact Owned By :</label>
                        <select class="px-1 py-1 rounded mBorder w-100 bg-color-input color-initial border-header"  [formControl]="fcemp" >
                            <option value="0">Select</option>
                            <option *ngFor="let item of ownEmpList;" value={{item.Id}}>{{item.EmpName}}--{{item.Nos}}</option> 
                            
                        </select>
                    </th>
                    <th colspan="1" class="color-gray min-w-200 S-R"><button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="GetOtherReassignList()">Get Data</button>
                    </th>
                    <th colspan="2" class="color-white-fix min-w-200 S-R">
                        <label class="mb-1">Reassign To</label>
                        <select class="px-1 py-1 rounded mBorder w-100 bg-color-input color-initial border-header"  [formControl]="fcContactfby" >
                            <option value="0">Unassigned</option>
                            <option *ngFor="let item of EmpList;let j = index" value={{item.Id}}>{{j+1}}-{{item.EmpName}}</option> 
                            
                        </select>
                    </th>
                    <th colspan="1" class="color-gray min-w-200 S-R"><button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="Reassign()">Reassign</button>
                    </th>
                    <tr class="bg-color-ContHead">
                            <th class="color-gray min-w-150" >
                                <input   type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"><br /></th>
                            <th class="color-gray min-w-150" >Name<br /></th>
                            <th class="color-gray min-w-150" >Mobile Number<br /></th>
                            <th class="color-gray min-w-150" >Followedby<br /></th>
                            <th class="color-gray min-w-150" >Status<br /></th>
                            <th class="color-gray min-w-150" >Track No<br /></th>
                            <th class="color-gray min-w-150" >Modified On<br /></th>
                            
                            <th class="color-gray min-w-100" >&nbsp;<br/></th>
                            <th class="color-gray min-w-100" >&nbsp;<br/></th>
                        </tr>
                        <tr *ngFor="let objStatusList of StatusList | searchpipe : searchStr; let i = index">
                        <td>
                            <input (change)='selChk(objStatusList.id)' type="checkbox" [(ngModel)]="objStatusList.checkstatus">
                            <!--<input (change)="onCheckUser(objStatusList.id,$event)" type="checkbox">-->
                            
                        </td>
                        <td>
                            {{objStatusList.firstname}}
                        </td>
                        <td>
                            {{objStatusList.mobilenumber}}
                        </td>
                      <td>
                            {{objStatusList.contactfollowedby}}
                        </td>
                         <td>
                            {{objStatusList.status}}
                        </td>
                        <td>
                            {{objStatusList.tracknumber}}
                        </td>
                        <td>
                            {{objStatusList.modifiedon}}
                        </td>
                        <td class="text-center">
                            <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="OpenTrackHistoryModel(objStatusList.tracknumber)">View</button>
                        </td>
                        <td class="text-center">
                            <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix" (click)="callStatus(objStatusList.tracknumber,objStatusList.id)">Track</button>
           
                        </td>
                    </tr>
                </table>
                </div>        
            </div>        
        </div>
    </div>
    <!--<app-connector-form-model></app-connector-form-model>-->
</div>

<section>
    <div class="myModel callHistoryModel  position-fixed model-bg-color justify-content-center align-items-center w-100 h-100 model-bg-color z-index-3 overflow-auto">
        <div class="modelContent bg-color-white boxShadow rounded">
          <div class="d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 font-size-19 align-items-center border-b bg-color-ContHead rounded">
              <div></div>
              <div (click)="CloseTrackHistoryModel()">
                  <i class="fas fa-times cursor-pointer"></i>
              </div>
          </div>
          <app-call-track-history></app-call-track-history>
        </div>
      </div>
    <app-lead-form-model></app-lead-form-model>
    </section>
            
            
        
    



