<!--<table id="table">
    <tr>
        <td><qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
        </td>
        
    </tr>
    
</table>
<button (click)="download()">Download pdf</button><p></p>

<button (click)="exportAsPDF()">Export</button>-->

<section class="lis-bg-light">
    <div class="container" id="table">
        <p>&nbsp;</p><p>&nbsp;</p>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 text-center">
                <div class="heading pb-4">
                    <img  src="assets/img/logo.png" width="330" height="auto">
                    <br><p></p>
                    <h4>Get Loan with Low Interest rate..</h4>
                    <h5 class="font-weight-normal lis-light">Discover &amp; connect with top-rated Banks</h5>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
               <!-- <div class="price-table">
                    <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <h5 class="text-uppercase lis-latter-spacing-2">Basic</h5>
                        <h1 class="display-4 lis-font-weight-500"><sup>$</sup> 39 <small>/mo</small></h1>
                        <p class="mb-0">Basic User Membership</p>
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li>One Time Fee</li>
                            <li>One Listing</li>
                            <li>90 Days Availability</li>
                            <li>Featured In Search Results</li>
                            <li>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>-->
            </div>
            <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5 mb-lg-0 text-center" style="visibility: visible; animation-name: fadeInUp;">
                <div class="price-table active">
                    <div class="price-header lis-bg-primary py-4 text-white lis-rounded-top">
                        <h5 class="text-uppercase lis-latter-spacing-2 text-white">Scan</h5>
                      <!--  <h1 class="display-4 lis-font-weight-500 text-white"><sup>$</sup> 69 <small>/mo</small></h1>
                        <p class="mb-0">Permium User Membership</p>-->
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <table >
                            <tr>
                                <td><qrcode (qrCodeURL)="onChangeURL($event)" [qrdata]="myAngularxQrCode" [width]="336" [errorCorrectionLevel]="'M'"></qrcode>
                                </td>
                                
                            </tr>
                            
                        </table>
                    </div>
                </div>
            </div>
            <!-- <div class="col-12 col-md-6 col-lg-4 wow fadeInUp text-center" style="visibility: visible; animation-name: fadeInUp;">
               <div class="price-table">
                    <div class="price-header lis-bg-light lis-rounded-top py-4 border border-bottom-0 lis-brd-light">
                        <h5 class="text-uppercase lis-latter-spacing-2">business</h5>
                        <h1 class="display-4 lis-font-weight-500"><sup>$</sup> 99 <small>/mo</small></h1>
                        <p class="mb-0">Basic User Membership</p>
                    </div>
                    <div class="border border-top-0 lis-brd-light bg-white py-5 lis-rounded-bottom">
                        <ul class="list-unstyled lis-line-height-3">
                            <li>One Time Fee</li>
                            <li>One Listing</li>
                            <li>90 Days Availability</li>
                            <li>Featured In Search Results</li>
                            <li>24/7 Support</li>
                        </ul>
                        <a href="#" class="btn btn-primary-outline btn-md lis-rounded-circle-50" data-abc="true"><i class="fa fa-shopping-cart pl-2"></i>Order Now</a>
                    </div>
                </div>
                
            </div>-->
            
            
                        
        </div>
        <p>&nbsp;</p>
    </div>
    <p>&nbsp;</p><p></p>
    <table width="100%" align="center">
        <tr align="center"><td><a  class="btn btn-primary btn-md lis-rounded-circle-50" (click)="exportAsPDF()" data-abc="true">
            <i class="fa  pl-2" ></i>Download pdf</a>
            
        </td></tr>
       </table>
</section>
