<p-toast></p-toast>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="bg-color-ContHead d-flex justify-content-between py-2 px-3 font-w-600 border-b rounded">
        <div class="font-size-19">Existing Customers</div>
      </div>

      <form [formGroup]="customerForm" (ngSubmit)="updateData()" class="p-3 bg-color-ContBody1 font-w-600">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">

          <div class="flex flex-col gap-1">
            <label>Name</label>
            <input pInputText formControlName="Name" [disabled]="true" />
          </div>

          <div class="flex flex-col gap-1">
            <label>Location</label>
            <input pInputText formControlName="location" />
          </div>

          <div class="flex flex-col gap-1">
            <label>Loan Date [dd/mm/yyyy]</label>
            <input pInputText formControlName="loandate" maxlength="10" />
          </div>

          <div class="flex flex-col gap-1">
            <label>Mobile Number*</label>
            <input pInputText formControlName="mobilenumber" maxlength="10" />
            <small class="text-red-500" *ngIf="customerForm.controls['mobilenumber'].invalid && customerForm.controls['mobilenumber'].touched">
              Valid 10-digit number required
            </small>
          </div>

          <div class="flex flex-col gap-1">
            <label>Product</label>
            <input pInputText formControlName="product" />
          </div>

          <div class="flex flex-col gap-1">
            <label>Email</label>
            <input pInputText formControlName="email" />
            <small class="text-red-500" *ngIf="customerForm.controls['email'].invalid && customerForm.controls['email'].touched">
              Enter a valid email
            </small>
          </div>

          <div class="flex flex-col gap-1">
            <label>Bank</label>
            <input pInputText formControlName="bank" />
          </div>

          <div class="flex flex-col gap-1">
            <label>Disbursed Amount</label>
            <input pInputText formControlName="amount" />
          </div>

          <div class="flex flex-col gap-1">
            <label>ROI*</label>
            <input pInputText formControlName="roi" maxlength="5" />
          </div>

          <div class="flex flex-col gap-1">
            <label>Track Number</label>
            <input pInputText formControlName="tracknumber" [disabled]="true" />
          </div>

          <div class="flex flex-col gap-1 col-span-1 md:col-span-3">
            <label>Notes</label>
            <input pInputText formControlName="notes" />
          </div>
        </div>

        <div class="flex justify-end mt-4">
          <button
            pButton
            type="submit"
            label="Update"
            icon="pi pi-save"
            class="bg-color-logo color-white border-0 rounded px-4 py-2 font-w-600"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>
