<p-toast></p-toast>
<div class="container">
  <div class="flex flex-column gap-3 p-3">
    <div class="bg-color-ContHead flex align-items-center py-2 px-3 font-w-600 border-b rounded">
      <div class="text-xl">QR Code Shops</div>
    </div>

    <form [formGroup]="qrForm" (ngSubmit)="onSubmit()" class="p-3 bg-color-ContBody1 font-w-600 flex flex-column gap-4">
      <div class="grid">
        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="Name" formControlName="Name" />
            <label for="Name">Office Name*</label>
          </p-floatLabel>
          <p-message
            severity="error"
            *ngIf="qrForm.controls['Name'].invalid && qrForm.controls['Name'].touched"
            text="Office Name is required"
          ></p-message>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="ContactPerson" formControlName="ContactPerson" />
            <label for="ContactPerson">Contact Person</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="PresentAddress" formControlName="PresentAddress" />
            <label for="PresentAddress">Present Address</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="Address1" formControlName="Address1" />
            <label for="Address1">Address</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="City" formControlName="City" />
            <label for="City">City</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="Pincode" formControlName="Pincode" maxlength="6" />
            <label for="Pincode">Pincode</label>
          </p-floatLabel>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="MobileNumber" formControlName="MobileNumber" maxlength="10" />
            <label for="MobileNumber">Mobile Number*</label>
          </p-floatLabel>
          <p-message
            severity="error"
            *ngIf="qrForm.controls['MobileNumber'].invalid && qrForm.controls['MobileNumber'].touched"
            text="Valid Mobile Number required"
          ></p-message>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="UpiMobileNumber" formControlName="UpiMobileNumber" maxlength="10" />
            <label for="UpiMobileNumber">UPI Mobile Number*</label>
          </p-floatLabel>
          <p-message
            severity="error"
            *ngIf="qrForm.controls['UpiMobileNumber'].invalid && qrForm.controls['UpiMobileNumber'].touched"
            text="Valid UPI Mobile Number required"
          ></p-message>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <input pInputText id="EmailId" formControlName="EmailId" />
            <label for="EmailId">Email</label>
          </p-floatLabel>
          <p-message
            severity="error"
            *ngIf="qrForm.controls['EmailId'].invalid && qrForm.controls['EmailId'].touched"
            text="Invalid Email"
          ></p-message>
        </div>

        <div class="col-12 md:col-6">
          <p-floatLabel>
            <p-dropdown
              [options]="empList"
              optionLabel="Name"
              optionValue="Id"
              placeholder="Select Referer"
              formControlName="Referer"
            ></p-dropdown>
            <label>Refered By</label>
          </p-floatLabel>
        </div>
      </div>

      <div class="flex justify-content-end">
        <button pButton type="submit" label="Submit" [disabled]="qrForm.invalid"></button>
      </div>
    </form>
  </div>
</div>
