<p-toast></p-toast>

<p-card header="Unassigned Contact List" class="mb-3">
  <div class="p-input-icon-left mb-3">
    <i class="pi pi-search"></i>
    <input pInputText type="text" [(ngModel)]="SearchText" (input)="table.filterGlobal($event.target?.['value'], 'contains')" placeholder="Search..." class="w-full md:w-30rem" />
  </div>

  <p-table
    #table
    [value]="model.UnassignedContactList"
    [paginator]="true"
    [rows]="10"
    [lazy]="true"
    [totalRecords]="TotalRecordNo"
    [loading]="loading"
    (onLazyLoad)="loadUnassignedContacts($event)"
    [globalFilterFields]="['FirstName', 'MobileNumber', 'EmailId', 'Location', 'ReferenceName']"
    [responsiveLayout]="'scroll'"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="FirstName">Name <p-sortIcon field="FirstName"></p-sortIcon></th>
        <th pSortableColumn="MobileNumber">Mobile Number <p-sortIcon field="MobileNumber"></p-sortIcon></th>
        <th pSortableColumn="EmailId">Email Id <p-sortIcon field="EmailId"></p-sortIcon></th>
        <th pSortableColumn="Location">Location <p-sortIcon field="Location"></p-sortIcon></th>
        <th>Assign To</th>
        <th pSortableColumn="createddt">Created Date <p-sortIcon field="createddt"></p-sortIcon></th>
        <th>Remarks</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-contact>
      <tr>
        <td>
          {{ contact.FirstName }}<br />
          <span *ngIf="contact.ReferenceName && !contact.IsConnectorContact">(Refer By: {{ contact.ReferenceName }})</span>
        </td>
        <td>{{ contact.MobileNumber }}</td>
        <td>{{ contact.EmailId }}</td>
        <td>{{ contact.Location }}</td>
        <td>
          <button pButton type="button" label="Assign To Me" icon="pi pi-user-plus" class="p-button-sm p-button-info" (click)="assignEmployee(contact.Id, contact.IsConnectorContact)"></button>
        </td>
        <td>{{ contact.createddt }}</td>
        <td>{{ contact.remarks }}</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
