<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">        
            <div class="d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 font-size-19 align-items-center border-b bg-color-ContHead rounded">
                <div>Add Lead</div>                
            </div>
            
            <div class="bg-color-ContBody1 px-3 py-3 rounded">
                <app-lead-detail-form></app-lead-detail-form>
            </div>
        </div>
    </div>
</div>
