<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
              <div class="font-size-19">Lead Details</div>
          </div>
          <div class="bg-color-ContBody1 px-3 py-3 rounded">
                <!-- <app-add-icici-form></app-add-icici-form> -->
              <app-un-assign-leads></app-un-assign-leads>
          </div>
      </div>
  </div>
</div>
