<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div
                class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
                <div class="font-size-19">Import Contact List</div>
            </div>
            <div class="bg-color-ContBody1 px-3 py-3 rounded">

                <div class="tableContainer rounded mBorder overflow-x-auto mn">
                    <table class="table font-w-600 color-initial mb-0">
                        <tr class="bg-color-ContHead">
                            <th class="color-gray min-w-200 text-center" >FileName<br /></th>
                            <th class="color-gray min-w-200 text-center" >UploadedTime<br /></th>
                            <th class="color-gray min-w-200 text-center" >IsUpdate<br /></th>
                        </tr>
                        <tr *ngFor="let ExcelList of ImportExcelList"></tr>
                        <td>{{ExcelList.FileName}}</td>
                        <td>{{ExcelList.UploadedTime}}</td>
                        <td>{{ExcelList.IsUpdate}}</td>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
