<p-toast></p-toast>

<div class="card">
  <div
    class="bg-color-ContHead d-flex justify-between p-2 px-3 font-w-600 font-size-19 border-b rounded"
  >
    Customer Multi-Loan Details
  </div>

  <div class="bg-color-ContBody1 p-3 rounded">
    <p-table
      [value]="pwcList"
      [paginator]="true"
      [rows]="10"
      class="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Mobile Number</th>
          <th>Product</th>
          <th>Loan Date</th>
          <th>Amount</th>
          <th>Converter</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr>
          <td>{{ row.name }}</td>
          <td>{{ row.mobilenumber }}</td>
          <td>{{ row.product }}</td>
          <td>{{ row.loandate }}</td>
          <td>{{ row.amount }}</td>
          <td>{{ row.converter }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
