<p-toast></p-toast>

<div class="card p-4">
  <h2 class="mb-4 text-2xl font-bold">Lead Report</h2>

  <form [formGroup]="form" (ngSubmit)="GetReport()" class="p-fluid">
    <div class="grid">
      <div class="col-12 md:col-3">
         <div class="w-full md:w-30rem">
        <p-floatLabel>
          <input
            pInputText
            id="SearchStr"
            formControlName="SearchStr"
            placeholder="Search"
          />
          <label for="SearchStr">Search</label>
        </p-floatLabel>
        </div>
      </div>

      <div class="col-12 md:col-3">
        <p-floatLabel>
          <p-calendar
            id="Frdt"
            formControlName="Frdt"
            dateFormat="dd/mm/yy"
            showIcon="true"
          ></p-calendar>
          <label for="Frdt">From Date</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-3">
        <p-floatLabel>
          <p-calendar
            id="Todt"
            formControlName="Todt"
            dateFormat="dd/mm/yy"
            showIcon="true"
          ></p-calendar>
          <label for="Todt">To Date</label>
        </p-floatLabel>
      </div>

      <div class="col-12 md:col-3 flex align-items-end">
        <button
          pButton
          type="submit"
          label="Get Report"
          icon="pi pi-file"
          class="p-button-primary"
        ></button>
      </div>
    </div>
  </form>

  <p-table
    [value]="StatusList"
    [paginator]="true"
    [rows]="10"
    [loading]="loading"
    [rowsPerPageOptions]="[10,20,50]"
    responsiveLayout="scroll"
    class="mt-4"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Total No. of Leads</th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-status>
      <tr>
        <td>{{ status.Name }}</td>
        <td>{{ status.total }}</td>
        <td>
          <button
            pButton
            icon="pi pi-eye"
            class="p-button-sm p-button-success"
            label="Details"
            (click)="getDetails(status.empid, status.Name)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
