<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
             <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
                 <div class="font-size-19">Import Contact </div>
            </div>
            <div class="bg-color-ContBody1 px-3 py-3 rounded">
                <div class="tableContainer rounded mBorder overflow-x-auto mn">
                    <div class="form-group">
                        <label for="file">Choose File</label>
                        <input type="file" id="file" (change)="handleFileInput($event)">

                        <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix"  (click)="uploadFileToActivity()">Upload</button>&nbsp;&nbsp;
                        <button class="rounded py-1 px-3 border-0 font-w-600 bg-color-logo color-white-fix" (click)="downloadTemplete()"> Template</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12" style="margin-top:25px">
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-color-ContHead d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 align-items-center border-b rounded">
                 <div class="font-size-19">Import Contact List</div>
            </div>
            <div class="bg-color-ContBody1 px-3 py-3 rounded">

                <div class="tableContainer rounded mBorder overflow-x-auto mn">
                    <table class="table font-w-600 color-initial mb-0">
                        <tr class="bg-color-ContHead">
                            <th class="color-gray min-w-200 text-center" >FileName<br /></th>
                            <th class="color-gray min-w-200 text-center" >UploadedTime<br /></th>
                            <th class="color-gray min-w-200 text-center" >IsUpdate<br /></th>
                        </tr>
                        <tr *ngFor="let e of ExcelList">
                            <td >{{e.FileName}}</td>
                            <td class="text-center">{{e.UploadedTime}}</td>
                            <td class="text-center"> {{e.IsUpdate==false?"Imported":"Updated"}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>







