<!-- model following status - start -->
<div class="myModel leadInputModel position-fixed model-bg-color justify-content-center align-items-center w-100 h-100 z-index-3 overflow-auto">
  <div class="modelContent bg-color-white boxShadow rounded">

    <!-- Header -->
    <!-- <div class="d-flex flex-row justify-content-between flex-nowrap py-2 px-3 font-w-600 font-size-19 align-items-center border-b bg-color-ContHead rounded">
      <div>Follow Up Details</div>
      <div (click)="closeModel()">
        <i class="fas fa-times cursor-pointer"></i>
      </div>
    </div> -->

    <!-- Tab Section -->
    <p-tabs [(value)]="activeTabIndex">
      <p-tablist class="bg-color-ContHead d-flex justify-content-start px-3 py-2 border-bottom">
        <p-tab [value]="0">Follow Up Form</p-tab>
        <p-tab [value]="1">Call History</p-tab>
        <p-tab [value]="2">Enter Lead Details</p-tab>
      </p-tablist>

      <p-tabpanels class="leadInputContent bg-color-ContBody1 p-3 font-w-600 overflow-auto">
        <p-tabpanel [value]="0">
          <app-lead-follow-up-form></app-lead-follow-up-form>
        </p-tabpanel>
        <p-tabpanel [value]="1">
          <app-call-track-history></app-call-track-history>
        </p-tabpanel>
        <p-tabpanel [value]="2">
          <app-lead-detail-form [isSaveAndClose]="true"></app-lead-detail-form>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</div>
<!-- model following status - end -->
